*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    background-color: wheat;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-start {
    justify-content: flex-start;

}
.stretch {
    align-items: stretch;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.navbar {
    background-color: #f96116;
    padding: 34px 0;
}
.navbar ul {
    list-style: none;
    padding-left: 0;
}
.navbar a {
    text-decoration: none;
    font-size: 23px;
    margin-right: 34px;
    color: #ffff;
}
.menu-wrapper {
    padding: 50px 0;
}
.menu {
    background-color: #035878;
    color: #ffff;
    font-size: 25px;
    padding: 32px 0;
    padding-left: 65px;
    width: 30%;
}
.menu li {
    line-height: 2.2;
}
dl {
    font-size: 22px;
}
dt {
    font-size: 36px;

}
dd {
    margin-left: 43px;
    margin-bottom: 34px;
}
.footer {
    padding: 43px 0;
    background-color: #272e30;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}
footer a {
    color: #ffff;
    margin-right: 34px;
    font-size: 24px;
    text-decoration: none;
}